body {
  margin: 0;
}

.header {
  margin: 0 auto;
  width: 980px;
  height: 50px;
  background-color: ;
}

#logo {
  font-family: monospace;;
  font-style: normal;
  font-weight: bold;
  width: 80%;
  float: left;
  padding: 5px;
}

#navbar {
  width: 10%;
  float: right;
}

#donatebuttontop {
  width: 25%;
  float: right;
}

#nav {
  letter-spacing: 90px
  list-style: none;
}

#nav li {
    display: inline;
    margin: 10px 0;
    width: 80px;
}

#nav ul {
   margin: 10px 0;
}

#Home a {
  text-decoration: none;
  background-color: #f2f2f2;
    color: black;
    width: 88px;
    height: 50px;
    margin-right: -4px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
}

#Donate a {
  text-decoration: none;
  background-color: lightblue;
    color: black;
    width: 88px;
    height: 50px;
    margin-right: -4px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
}

#Donate a:hover {
  text-decoration: none;
  background-color: blue;
    color: black;
    width: 88px;
    height: 50px;
    margin-right: -4px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
}



.footer {
  margin: 0 auto;
  width: 500px;
  height: 50px;
  background-color: ;
}

#logobottom {
  font-family: monospace;;
  font-style: normal;
  font-weight: bold;
  width: 250px;
  float: left;
  padding: 5px;
}

#navbarbuttom {
  width: 250px;
  float: right;
}

#navbuttom {
  letter-spacing: 90px
  list-style: none;
}

#navbuttom li {
    display: inline;
    margin: 10px 0;
    width: 80px;
}

#navbuttom ul {
   margin: 10px 0;
}

#Homebuttom a {
  text-decoration: none;
    color: black;
    width: 88px;
    height: 50px;
    margin-right: -4px;
    text-align: center;
    padding: 28px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
}

#Donatebuttom a {
  text-decoration: none;
    color: black;
    width: 88px;
    height: 50px;
    margin-right: -4px;
    text-align: center;
    padding: 28px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
}
